@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
	padding: 0; margin: 0; box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: #eee;
	overflow-x: hidden;
}
a {
	position: relative;
	color: red;
	text-decoration: none;
	z-index: 3;
}
a:hover {
	color: yellow;
}

.center-text {
	text-align: center;
	/*margin: 2rem 0;*/
}

.margin-top-medium {
	margin: 1rem 0;
}

.header {
	height: 20em;
	background-color: #353535;
	color: #fff;
	text-align: center;
}

.primary-header-box {
	position: relative;
	top: 20%;
	text-align: center;
	animation-duration: 1.5s;
	animation-name: slideRigth;
}
@keyframes slideRigth {
	from { 
		margin-left: 100%;
		width: 800%; 
	}
	to { 
		margin-left: 0%;
		width: 100%; 
	}
} 

.heading-primary {
	color: #eee;
	text-align: center;
}

.heading-primary-main {
	letter-spacing: 3px;
	text-align: center;
}

.heading-primary-sub {
	font-weight: 200;
	font-size: 11.6px;
	letter-spacing: 2px;
	text-align: center;
}

.heading-primary-line {
	width: 80%;
	background: #eee;
	height: 2px;
	margin: 1.6rem auto;
}

 /*Projet section*/ 
.project-section {
	padding: 8rem 0;
	/*background-image: linear-gradient(135deg, #667eea 0%, #eee 100%); /*dégradé  #764ba2*/
	background: white; 
	margin-top: -3rem;
	height: 100%;
	margin-bottom: 10rem;
	/*z-index: 3;*/
}

.project-section-2 {
	margin-top: -10em;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #353535;
	/*z-index: 3;*/
}

.heading-project {
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 800;
	display: inline-block;
	letter-spacing: 10px;
	color: #eee;
	margin-bottom: 1rem;
	background-color: #353535/*#DCD9D4*/;
	-webkit-background-clip: text;
	color: transparent;
	animation-name: opac;
	animation-duration: 5s;
}

@keyframes opac {
	0% { opacity: 0; },
	25% { opacity: 0.25; },
	50% { opacity: 0.5; },
	75% { opacity: 0.75; },
	100% { opacity: 1; }
}

#heading-project-color {
	color: red/*#353535*/;
}

.project-row {
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	overflow: scroll;
	justify-content: center;
}

.project-items {
	/*background: #eee;/*rgb(209, 205, 205);*/
	background-image: linear-gradient(135deg, #667eea 0%, #eee 100%); /*dégradé  #764ba2*/ 
	box-shadow: 0 0 6px rgba(190, 190, 190, 0.61);
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	border: 1px solid #fff;
	margin: 5px;
	transition: .1s;
	/*max-width: 800px;*/
	animation-name: opac;
	animation-duration: 5s;
	opacity: .8;
}

@keyframes slideTop {
	from { 
		margin-top: 100%;
		width: 800%; 
	}
	to { 
		margin-top: 0%;
		width: 100%; 
	}
}
.project-items-hover {
	z-index: 3;
}
.project-items-hover:hover {
	background-color: white;
	border: 1px solid black;
	transition: .5s;
}

.project-items-title {
	background-color: black;
	color: #DCD9D4;
}

.project-link-btn {
	text-decoration: none;
	border: 1px solid #353535;
	border-radius: 5px;
	color: #353535;
	padding: 6px 10px;
	box-shadow: -1px 1px 1px white;
	transition: all .6s;
}

.project-link-btn:hover {
	cursor: pointer;
	color: #eee;
	background: #353535;
}

/* SECTION 5 */
.softSkill-title {
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	/*color: #353535;*/
	background-image: linear-gradient(135deg, red 0%, #764ba2 100%);/*#667eea*/
	-webkit-background-clip: text;
	color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 5px;
	margin-top: 80px;
}
.flexBox {
	display: flex;
	justify-content: center;
}
#second {
	padding-top: 15px;
	padding-bottom: 15px; 
	overflow: auto;
}
.marge {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 30px;
}
.rowS5 {
	width: 100%;
	color: #2a2a2a;
	display: grid; 
	grid-row-gap: 25px;
	grid-column-gap: 15px;
	z-index: 3;
	font-weight: bold;
}
.s5-container {
	z-index: 1;
	color: black;
	flex-wrap: wrap;
}
.boxS5 {
	width: 150px;
	height: 150px;
	background-color: transparent;
	border-radius: 28px;
	margin-bottom: 20px;
	z-index: 3;
	transition: .3s;
	margin: 15px;
}
.boxS5:hover {
	transform: scale(1.1);
	transition: .3s;
	border: 0.1px solid lightgrey;
	box-shadow: 0 4px 8px 0 #2a2a2a, 0 6px 20px 0 #2a2a2a;
}
.imgBlock {
	border-radius: 28px;
	object-fit: contain;
	width: 150px;
	height: 150px;
}
.cardSlide {
	position: relative;
	z-index: 3;
}

.rowS5 .cardSlide {
	height: 200px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 6px;
	margin-top: 20px;
}
.rowS5 .cardSlide::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	background: #ffbd00;
	transition: all 0.3s ease;
}
.rowS5 .cardSlide:hover:before {
	top: 0;
	right: calc(100% - 5px);
	z-index: 10;
}
.rowS5 .cardSlide .second {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 100%;
	background-color: white;
	transition: all 0.3s ease-in-out;
}
.rowS5 .cardSlide:hover .second {
	top: 0;
	left: 0;
}
.shadowBox {
	box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
}
#s5 {
	z-index: 3;
}
.skill-section {
	margin-top: -6rem;
	padding: 6rem 0;
	background: #eee;
}

.skill-heading-main {
	position: relative;
	z-index: 3;
	font-size: 2rem;
	font-weight: 600;
	display: inline-block;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: 2px;
}
.skill-heading-main:hover {
	transform: skewY(-2deg) skewX(-16deg); 
}

ul {
	font-size: 1.2rem;
	padding: 1rem;
	text-align: center;
	margin-top: 1rem;
}

ul li {
	margin-bottom: .6rem;
	background: rgba(255, 255, 255, .7);
	box-shadow: 0 0 1px #5c5a5a50;
	padding: 1rem 0;
	display: block;
	border-radius: 10px;
}

.hr {
	width: 100%;
	border: 1px solid black;
	margin-bottom: 10px;
}

.footer{
	padding: 1rem 0;
	text-align: center;
	text-shadow: 1px 1px 1px blue;
	letter-spacing: 2px;
	height: 8vh;
	background-color: #353535;
	color: #fff;
	border: 2px solid royalblue;
	border-radius: 50% 50% 0 0;
}
/* Animation fleche */
.fetch {
	text-align: center;
	font-size: 30px;
	margin-top: 80px;
	font-weight: bold;
	color: red;
	animation-name: fetch;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes fetch {
	10%, 30%, 50%, 70%, 90% {
	  transform: translateY(-10px);
	}
	20%, 40%, 60%, 80% {
	  transform: translateY(14px);
	}
}

@media (max-width: 1000px) {
	.project-row {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		overflow: scroll;
	}
}

@media (max-width: 800px) {
	.loisir-img {
		width: 100%;
	}
}

@media (max-width: 380px) {
	.heading-project {
		font-size: 1.4rem;
	}
}

@media (max-width: 320px) {
	.heading-primary-main {
		font-size: 1.9rem;
	}
	.heading-project {
		font-size: 1.1rem;
	}
}


